.home .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, var(--green) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  color: var(--light-navy);
}

.home .info b {
  color: var(--green);
}

.home h1 {
  font-size: var(--fz-heading);
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.home p {
  color: var(--light-slate);
  font-size: 18px;
  letter-spacing: 0.4px;
  line-height: 1.5em;
  width: 96%;
  text-align: justify;
}

.home .btn {
  outline: none;
  background: transparent;
  border: 1px solid var(--green);
  color: var(--green);
  border-radius: 5px;
  font-size: var(--fz-md);
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: fit-content;
}

.home .btn svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.home .btn:hover svg {
  margin-left: 25px;
}

.home img {
  animation: updown 3s linear infinite;
  width: 100%;
  height: 100%;
}

.motionHeading {
  height: 80px;
}

@media (width < 576px) {
  .home img {
    margin-top: 40px;
  }
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.txt-rotate>.wrap {
  border-right: 0.08em solid #666;
}