/************ home Css ************/
.home {
  margin-top: 20px;
  padding: 160px 0 120px 0;
  height: 100vh;
}

.home_content {
  padding: 0 60px;
}

.home .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, var(--green) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  color: var(--navy);
}

.home h1 {
  font-size: 65px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.home p {
  color: var(--light-slate);
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.home button {
  outline: none;
  font-size: var(--fz-xs);
  background: transparent;
  border: 1px solid var(--green);
  color: var(--green);
  border-radius: 5px;
  font-size: var(--fz-md);
  display: flex;
  align-items: center;
}

.home button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.home button:hover svg {
  margin-left: 25px;
}

.home img {
  animation: updown 3s linear infinite;
  width: 500px;
  height: 500px;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.txt-rotate>.wrap {
  border-right: 0.08em solid #666;
}

/************ Skills Css ************/
.skill {
  padding: 0 0 50px 0;
  position: relative;
}

.skill-bx {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}

.skill h2 {
  font-size: 45px;
  font-weight: 700;
}

.skill p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}