.skill {
  &::before {
    display: block;
    content: "";
    margin-top: -120px;
    height: 120px;
    visibility: hidden;
    pointer-events: none;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.skill_bx {
  background: var(--navy);
  border-radius: 64px;
  text-align: center;
  padding: 40px 80px;
  color: var(--light-slate);
}

.skill h2 {
  font-size: var(--fz-heading);
  font-weight: 700;
  font-family: var(--font-sans);
  margin-bottom: 40px;
}

.skill h3 {
  font-size: var(--fz-xxl);
  font-weight: 700;
  font-family: var(--font-sans);
  margin-bottom: 20px;
}

.skill span {
  font-size: var(--fz-md);
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

.skill_slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 50;
}

.skill_slider .item {
  font-size: 80px;
}


.certiItem {
  text-align: left;
  font-size: var(--fz-xxl);
  margin-bottom: 30px;
}

.certiItem a {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: var(--fz-xl);
  color: var(--green);
  text-decoration: underline;
}

.certiItem p {
  font-size: var(--fz-md);
  margin-bottom: 0px;
}

.certiLogo {
  width: 120px;
  height: 50px;
  background: var(--background-certi);
  border-radius: 10px;
}