.contact {
  &::before {
    display: block;
    content: "";
    margin-top: -120px;
    height: 120px;
    visibility: hidden;
    pointer-events: none;
  }
}

.container {
  max-width: 1140px;
  font-family: var(--font-sans);
}

.contact_title {
  font-size: var(--fz-heading);
  text-align: center;
  font-weight: 700;
}

.row {
  position: relative;
  z-index: 50;
  padding: 50px 0;
}

.submit_form_btn {
  outline: none;
  font-size: var(--fz-lg);
  background: transparent;
  border: 1px solid var(--green);
  color: var(--green);
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.submit_form_btn span {
  margin-right: 10px;
}


.submit_form_btn:hover {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}

.span {
  color: var(--lightest-slate);
  font-size: var(--fz-sm);
  font-style: italic;
  font-weight: 200;
}

.map {
  border: 0px;
  border-radius: 10px;
}

/* card flip */
.card_face_front {
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  text-align: center;
}

.card_face_back {
  height: 480px;
}

.flip_btn span {
  margin-right: 10px;
}



.social {
  padding-left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.social_item {
  margin-right: 30px;
}

.social_item a {
  display: inline-block;
  font-size: 40px;
}

@media (width < 576px) {
  .card_face_front {
    align-items: center;
    justify-content: left;
  }

  .card_face_back {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .submit_form_btn {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .submit_form_btn_group {
    display: flex;
    justify-content: space-between;
  }

  .row {
    padding: 20px 0;
  }
}