.project {
  &::before {
    display: block;
    content: "";
    margin-top: -80px;
    height: 180px;
    visibility: hidden;
    pointer-events: none;
  }

  height: 100vh;
}

.link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link>a {
  font-size: 30px;
  padding: 0 20px;
}