:root {
  /* Font */
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

  /* Color */
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --reverse-navy: #f5e6d0;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --transparent-navy: #0a192fd9;
  --navy-shadow: rgba(2, 12, 27, .7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --reverse-light-slate: #5d4d2e;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: #64ffda1a;
  /* For project pills */
  --background-pill-active: #233554;
  --color-pill-active: #64ffda;

  /* Font size */
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 40px;
}

[data-theme="light"] {
  --dark-navy: #e3f3e4;
  --navy: #f5e6d0;
  --reverse-navy: #0a192f;
  --light-navy: #eeddbf;
  --lightest-navy: #ccdae7;
  --transparent-navy: #e3f3e4d9;
  --navy-shadow: rgba(253, 243, 228, 0.7);
  --dark-slate: #baa98f;
  --slate: #776d4f;
  --light-slate: #5d4d2e;
  --reverse-light-slate: #a8b2d1;
  --lightest-slate: #332921;
  --white: #191e00;
  --green: #9b00d9;
  --green-tint: rgba(155, 0, 217, 0.1);
  /* For project pills */
  --background-pill-active: #0a192f;
  --color-pill-active: #f5e6d0;
}


body {
  margin: 0;
  font-family: var(--font-mono);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  background-color: var(--navy);
  color: var(--light-slate);
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.theme-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-slate);
  color: var(--navy);
  padding-bottom: 2px;
}

.theme-toggle h2 {
  margin: 0;
  margin-right: 20px;
  font-size: 1rem;
  text-transform: uppercase;
}

/* End Header */

/* Projects Section */
#project h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 22px;
  text-align: center;
  font-family: var(--font-sans);
}

#project p {
  color: var(--light-slate);
  font-size: 18px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}


#project .tab-content {
  margin-top: 30px;
}

#project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  background-color: transparent;
}

#project .nav.nav-pills .nav-item {
  width: 33.33333%;
}

#project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  width: 100%;
  color: var(--white);
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}

#project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: var(--background-pill-active);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
}

#project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}

#project .nav.nav-pills .nav-link.active {
  border: 1px solid var(--light-slate);
  color: var(--color-pill-active);
}

.nav-link#projects-tabs-tab-first {
  border: 1px solid var(--light-slate);
  border-radius: 8px 0px 0px 8px;
}

.nav-link#projects-tabs-tab-second {
  border-top: 1px solid var(--light-slate);
  border-bottom: 1px solid var(--light-slate);
}

.nav-link#projects-tabs-tab-third {
  border: 1px solid var(--light-slate);
  border-radius: 0 8px 8px 0;
}

#projects-tabs-tabpane-first,
#projects-tabs-tabpane-second,
#projects-tabs-tabpane-third {
  text-align: center;
}

#project .proj_imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  z-index: 1;
}

#project .proj_imgbx img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
}

#project .proj_imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, var(--dark-navy) 0%, var(--dark-slate) 120%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

#project .proj_imgbx:hover::before {
  height: 100%;
}

#project .proj_txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}

#project .proj_imgbx:hover .proj_txtx {
  top: 50%;
  opacity: 1;
}

#project .proj_txtx h4 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1em;
}

#project .proj_txtx p {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 15px;
}

/* End Projects Section */